In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('asdasdasdasdasdasd'))
s

0     a
1     s
2     d
3     a
4     s
5     d
6     a
7     s
8     d
9     a
10    s
11    d
12    a
13    s
14    d
15    a
16    s
17    d
dtype: object

In [4]:
s.unique()

array(['a', 's', 'd'], dtype=object)

In [6]:
#contar quantas vezes o valor aparece, distribuição de frequencia
s.value_counts()

a    6
s    6
d    6
Name: count, dtype: int64

In [7]:
dados = pd.read_csv('dados/aluguel.csv', sep  = ';')

In [10]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [11]:
dados.Tipo.value_counts()

Tipo
Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: count, dtype: int64

## Exercicio

In [12]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [13]:
eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

   Faces  count  count  count  count  count
c   Cara     25     26     19     23     25
C  Coroa     25     24     31     27     25