In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [3]:
#criando uma series
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
#criando o index
index = ['Linha' + str(i) for i in range(5)]

In [8]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [11]:
s = pd.Series(data = data, index = index)

In [12]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [13]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}

In [14]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [15]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [17]:
s1 = s + 2
s1
#soma +2 nos valores

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [19]:
s2 = s +s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

## Dataframe

In [20]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

In [21]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
df1 = pd.DataFrame(data = data)

In [23]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [24]:
index = ['Linha' + str(i) for i in range(3)]

In [25]:
index

['Linha0', 'Linha1', 'Linha2']

In [26]:
df1 = pd.DataFrame(data = data, index = index)

In [27]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [28]:
columns = ['Coluna' + str(i) for i in range(3)]

In [29]:
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [30]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [31]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9